[Unit]
Description=COACH DNSMasq Docker Container for Provisioning Service
After=mnt-ceph-fs.service docker.service
Requires=mnt-ceph-fs.service docker.service
 
[Service]
ExecStart=/usr/bin/docker start provisioner_dnsmasq
Restart=always
 
[Install]
WantedBy=multi-user.target
