[Unit]
Description=COACH LAMP Docker Container for Provisioning Service
After=mnt-ceph-fs.service docker.service
Requires=mnt-ceph-fs.service docker.service
 
[Service]
Restart=always
ExecStart=/usr/bin/docker start provisioner_lamp
ExecStop=/usr/bin/docker stop provisioner_lamp
 
[Install]
WantedBy=multi-user.target
