[Unit]
Description=COACH LAMP Docker Container for Provisioning Service
After=mnt-ceph-fs.service docker.service
Requires=mnt-ceph-fs.service docker.service
 
[Service]
TimeoutStartSec=0
ExecStart=/usr/local/bin/systemd-docker --cgroups name=systemd start provisioning_lamp
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
 
[Install]
WantedBy=multi-user.target
