[Unit]
Description=Mount CephFS
After=ceph-client.service

[Service]
Type=simple
ExecStartPre=/bin/bash /etc/ceph/mnt-ceph-fs.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
