[Unit]
Description=COACH Provisioning LAMP Container
Requires=mnt-ceph-fs.service
After=mnt-ceph-fs.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/bin/bash /etc/ceph/provisioner-lamp.sh start
ExecStop=/bin/bash /etc/ceph/provisioner-lamp.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
