[Unit]
Description=LSB: Ceph Rados Block Device Map & Mount
#Wants=network-online.target
#After=network-online.target

[Service]
Type=forking
ExecStart=/etc/init.d/rbdmap start
RemainAfterExit=yes
ExecStop=/etc/init.d/rbdmap stop
ExecReload=/etc/init.d/rbdmap reload

[Install]
WantedBy=multi-user.target
