<div root-access>
	<br/>
	<uib-tabset>
		<uib-tab heading="{{'Status'|translate}}">
			<ul class="pull-right" style="list-style: none;">
				<li>{{ceph_status.fsid}}</li>
				<li><span translate>Creation Date</span>: {{ceph_status.monmap.created}}</li>
				<li><span translate>Last Modified</span>: {{ceph_status.monmap.modified}}</li>
			</ul>
			<h1 translate>Health</h1>
			<hr />
			<h2 ng:show="ceph_status.health.overall_status === 'HEALTH_ERR'" translate>Errors</h2>
			<h2 ng:show="ceph_status.health.overall_status === 'HEALTH_WARN'" translate>Warnings</h2>
			<ul ng:show="ceph_status.health.summary.length" style="list-style: none;">
				<li ng:repeat="item in ceph_status.health.summary">
					<span class="label label-warning" ng:show="item.severity === 'HEALTH_WARN'">{{item.severity}}</span>
					<span class="label label-danger" ng:show="item.severity === 'HEALTH_ERR'">{{item.severity}}</span>
					{{item.summary}}
				</li>
			</ul>
			<br />
			<h2>OSD <span translate>Tree</span></h2>
			<style>
				.node {
				  cursor: pointer;
				}
				.node square {
				  fill: #55aeba;
				  stroke: #55aeba;
				  //stroke-width: 2px;
				}
				.node text {
					font: 16px/1.2 Helvetica, Arial, sans-serif;
					fill: #37424a;
				}
				.link {
				  fill: none;
				  stroke: #dae2e2;
				  stroke-width: 2px;
				}
			</style>
			<svg id="osd_tree" />
		</uib-tab>
		<uib-tab heading="{{'Pools'|translate}}">
			<br />
			<progress-spinner ng:hide="pools.length"></progress-spinner>
			<div class="list-group">
				<div ng:repeat="pool in pools" ng:show="pools.length" class="list-group-item list-group-item-large">
					<a class="list-group-btn" ng:click="$parent.poolDetails = pool" title="Details">
						<i class="fa fa-question"></i>
					</a>
					<a class="list-group-btn" ng:click="$parent.cephToRemovePool = pool.pool" title="Remove Pool">
						<i class="fa fa-minus"></i>
					</a>
					<div class="list-group-main">
						<div class="list-group-icon">
							<i class="fa fa-pie-chart"></i>
						</div>
						<h4 class="list-group-item-heading">{{pool.pool}}</h4>
						<p class="list-group-item-text">
							<span class="label label-info">
								Size: {{pool.size}}/{{pool.min_size}}
							</span>
							<span class="label label-info">
								PG: {{pool.pg_num}}
							</span>
							<span class="label label-info">
								PGP: {{pool.pgp_num}}
							</span>
						</p>
					</div>
				</div>
			</div>
			<dialog ng:show="poolDetails">
				<div class="modal-header">
					<h4>{{poolDetails.pool}}</h4>
				</div>
				<div class="modal-body scrollable">
					<div ng:repeat="(key, value) in poolDetails" class="list-group-item">
						<label>{{key}}:</label>
						<span>{{value}}</span>
					</div>
				</div>
				<div class="modal-footer">
					<a ng:click="$parent.poolDetails = null;" class="btn btn-default btn-flat" translate>Close</a>
				</div>
			</dialog>
			<dialog ng:show="cephToRemovePool">
				<div class="modal-header">
					<h4>Remove '{{cephToRemovePool}}'?</h4>
				</div>
				<div class="modal-body">
					<p>This action cannot be undone. Are you absolutely sure you want to delete this pool?</p>
				</div>
				<div class="modal-footer">
					<a ng:click="$parent.cephToRemovePool = null" class="btn btn-default btn-flat" translate>Close</a>
					<a ng:click="cephRemovePool(cephToRemovePool); $parent.cephToRemovePool = null;" class="btn btn-default btn-flat" translate>Remove</a>
				</div>
			</dialog>
			<dialog ng:show="cephToAddPool">
				<div class="modal-header">
					<h4>Create New Pool</h4>
				</div>
				<div class="modal-body">
					<label>Pool Name</label>
					<input ng:model="cephAddPool.name" type="text" class="form-control" placeholder="pool_name" />
					<br />
					<label>Placement Groups</label>
					<input ng:model="cephAddPool.pg_num" type="number" class="form-control" placeholder="{{pg_num}}" />
					<br />
					<small ng:show="pg_num == 'Use pgcalc.'">For calculating <tt class="docutils literal"><span class="pre">pg_num</span></tt> value by yourself please take help of <a class="reference external" href="http://ceph.com/pgcalc/">pgcalc</a> tool</small>
				</div>
				<div class="modal-footer">
					<a ng:click="$parent.cephToAddPool = null" class="btn btn-default btn-flat" translate>Close</a>
					<a ng:click="cephCreatePool(cephAddPool); $parent.cephToAddPool = null;" class="btn btn-default btn-flat" translate>Create</a>
				</div>
			</dialog>
			<floating-toolbar>
				<a ng:click="$parent.cephToAddPool = true;" class="btn btn-default btn-flat pull-right" translate>Create New Pool</a>
			</floating-toolbar>
		</uib-tab>
		<uib-tab heading="{{'Monitors'|translate}}">
			<br />
			<div class="list-group" ng:show="ceph_status.monmap.mons.length">
				<div ng:repeat="item in ceph_status.monmap.mons" class="list-group-item list-group-item-large">
					<div class="list-group-main">
						<div class="list-group-icon">
							<i class="fa fa-tv"></i>
						</div>
						<h4 class="list-group-item-heading">{{item.name}}</h4>
						<p class="list-group-item-text">
							<span class="label label-info">
								Rank: {{item.rank}}
							</span>
							<span class="label label-info">
								{{item.addr}}
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="pull-right">e{{ceph_status.fsmap.epoch}} {{ceph_status.fsmap.in}}/{{ceph_status.fsmap.max}}/{{ceph_status.fsmap.up}}</div>
		</uib-tab>
		<uib-tab heading="{{'Metadata'|translate}}">
			<br />
			<div class="list-group" ng:show="ceph_status.fsmap.by_rank.length">
				<div ng:repeat="item in ceph_status.fsmap.by_rank" class="list-group-item list-group-item-large">
					<div class="list-group-main">
						<div class="list-group-icon">
							<i class="fa fa-file"></i>
						</div>
						<h4 class="list-group-item-heading">{{item.name}}</h4>
						<p class="list-group-item-text">
							<span class="label label-success" ng:show="item.status === 'up:active'">
								{{item.status}}
							</span>
							<span class="label label-warning" ng:show="item.status !== 'up:active'">
								{{item.status}}
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="pull-right">e{{ceph_status.fsmap.epoch}} {{ceph_status.fsmap.in}}/{{ceph_status.fsmap.max}}/{{ceph_status.fsmap.up}}</div>
		</uib-tab>
		<uib-tab heading="{{'Local'|translate}}">
			<br />
			<progress-spinner ng:hide="blockDevices != null"></progress-spinner>
			<label>Active OSDs</label>
			<div class="list-group">
				<div ng:repeat="device in blockDevices" ng:show="device.ceph.osd" class="list-group-item list-group-item-large">
					<a class="list-group-btn" ng:click="$parent.deviceDetails = device" title="Details">
						<i class="fa fa-question"></i>
					</a>
					<a class="list-group-btn has-warning" ng:click="toggleRemoveOSD(device)" title="Remove from Cluster">
						<i class="fa fa-minus"></i>
					</a>
					<div class="list-group-main">
						<div class="list-group-icon" ng:show="device.rota">
							<i class="fa fa-database"></i>
						</div>
						<div class="list-group-icon" ng:hide="device.rota">
							<i class="fa fa-microchip"></i>
						</div>
						<h4 class="list-group-item-heading"><span ng:show="device.bay === 'undefined'">{{device.name}}</span><span ng:show="device.bay !== 'undefined'">SLOT {{device.bay}} <small><small>{{device.name}}</small></small></span></h4>
						<p class="list-group-item-text">
							<span class="label label-info" ng:show="device.size">
								{{device.size}}
							</span>
							<span class="label label-success">
								{{device.ceph.details.cluster}}@{{device.ceph.details.id}}
							</span>
						</p>
					</div>
				</div>
			</div>
			<dialog ng:show="removeOSD">
				<div class="modal-header">
					<h4><span ng:show="removeOSD.bay === 'undefined'">{{removeOSD.name}}</span><span ng:show="removeOSD.bay !== 'undefined'">SLOT {{removeOSD.bay}} <small><small>{{removeOSD.name}}</small></small></span></h4>
				</div>
				<div class="modal-body">
					<label>Are you ABSOLUTELY sure you want to remove this device from the storage cluster?</label>
					<progress-spinner ng:show="cephRemoveOsdProcessing"></progress-spinner>
				</div>
				<div class="modal-footer">
					<a ng:hide="cephRemoveOsdProcessing" ng:click="cephRemoveOsd(removeOSD);" class="btn btn-default btn-flat" translate>Remove</a>
					<a ng:hide="cephRemoveOsdProcessing" ng:click="toggleRemoveOSD();" class="btn btn-default btn-flat" translate>Cancel</a>
				</div>
			</dialog>
			<label>Active Journals</label>
			<div class="list-group">
				<div ng:repeat="device in blockDevices"  ng:show="device.ceph.journal" class="list-group-item list-group-item-large">
					<a class="list-group-btn" ng:click="$parent.deviceDetails = device" title="Details">
						<i class="fa fa-question"></i>
					</a>
					<div class="list-group-main">
						<div class="list-group-icon" ng:show="device.rota == '1'">
							<i class="fa fa-database"></i>
						</div>
						<div class="list-group-icon" ng:show="device.rota == '0'">
							<i class="fa fa-microchip"></i>
						</div>
						<h4 class="list-group-item-heading"><span ng:show="device.bay === 'undefined'">{{device.name}}</span><span ng:show="device.bay !== 'undefined'">SLOT {{device.bay}} <small><small>{{device.name}}</small></small></span></h4>
						<p class="list-group-item-text">
							<span class="label label-info" ng:show="device.size">
								{{device.size}}
							</span>
							<span ng:repeat="journalFor in device.ceph.journalFor" class="label label-success" ng:show="journalFor">
								{{journalFor}}
							</span>
						</p>
					</div>
				</div>
			</div>
			<label>Available Devices</label>
			<div class="list-group">
				<div ng:repeat="device in blockDevices" ng:show="device.available" class="list-group-item list-group-item-large">
					<a class="list-group-btn" ng:click="$parent.deviceDetails = device" title="Details">
						<i class="fa fa-question"></i>
					</a>
					<a class="list-group-btn" ng:click="toggleAddOSD(device)" title="Add to Cluster">
						<i class="fa fa-plus"></i>
					</a>
					<div class="list-group-main">
						<div class="list-group-icon" ng:show="device.rota == '1'">
							<i class="fa fa-database"></i>
						</div>
						<div class="list-group-icon" ng:show="device.rota == '0'">
							<i class="fa fa-microchip"></i>
						</div>
						<h4 class="list-group-item-heading"><span ng:show="device.bay === 'undefined'">{{device.name}}</span><span ng:show="device.bay !== 'undefined'">SLOT {{device.bay}} <small><small>{{device.name}}</small></small></span></h4>
						<p class="list-group-item-text">
							<span class="label label-info" ng:show="device.size">
								{{device.size}}
							</span>
							<span class="label label-warning" style="text-transform:uppercase" ng:show="device.tran">
								{{device.tran}}
							</span>
							<span class="label label-success" style="text-transform:uppercase" ng:show="device.state == 'running'">
								{{device.state}}
							</span>
							<span class="label label-error" style="text-transform:uppercase" ng:show="device.state != 'running'">
								{{device.state}}
							</span>
						</p>
					</div>
				</div>
			</div>
			<dialog ng:show="addOSD">
				<div class="modal-header">
					<h4><span ng:show="addOSD.bay === 'undefined'">{{addOSD.name}}</span><span ng:show="addOSD.bay !== 'undefined'">SLOT {{addOSD.bay}} <small><small>{{addOSD.name}}</small></small></span></h4>
				</div>
				<div class="modal-body scrollable">
					<label>Click "Add" to have data and journaling on the same device, or choose an available SSD below as a journaling device.</label>
					<div class="list-group" ng:hide="cephAddOsdProcessing">
						<div ng:repeat="device in blockDevices" ng:show="device.ceph.canBeJournal" class="list-group-item list-group-item-large">
							<a class="list-group-main" ng:click="cephAddOsd(addOSD, device);">
								<div class="list-group-icon">
									<i class="fa fa-microchip"></i>
								</div>
								<h4 class="list-group-item-heading"><span ng:show="device.bay === 'undefined'">{{device.name}}</span><span ng:show="device.bay !== 'undefined'">SLOT {{device.bay}} <small><small>{{device.name}}</small></small></span></h4>
								<p class="list-group-item-text">
									<span class="label label-info" ng:show="device.size">
										{{device.size}}
									</span>
									<span class="label label-warning" style="text-transform:uppercase" ng:show="device.tran">
										{{device.tran}}
									</span>
									<span class="label label-success" style="text-transform:uppercase" ng:show="device.state == 'running'">
										{{device.state}}
									</span>
									<span class="label label-error" style="text-transform:uppercase" ng:show="device.state != 'running'">
										{{device.state}}
									</span>
								</p>
							</a>
						</div>
					</div>
					<progress-spinner ng:show="cephAddOsdProcessing"></progress-spinner>
				</div>
				<div class="modal-footer">
					<a ng:hide="cephAddOsdProcessing" ng:click="cephAddOsd(addOSD);" class="btn btn-default btn-flat" translate>Add</a>
					<a ng:hide="cephAddOsdProcessing" ng:click="toggleAddOSD();" class="btn btn-default btn-flat" translate>Cancel</a>
				</div>
			</dialog>
			<dialog ng:show="deviceDetails">
				<div class="modal-header">
					<h4>{{deviceDetails.name}}</h4>
				</div>
				<div class="modal-body scrollable">
					<div ng:repeat="(key, value) in deviceDetails" class="list-group-item">
						<label>{{key}}:</label>
						<span>{{value}}</span>
					</div>
				</div>
				<div class="modal-footer">
					<a ng:click="$parent.deviceDetails = null;" class="btn btn-default btn-flat" translate>Close</a>
				</div>
			</dialog>
			<dialog ng:show="megaraidBuilding">
				<div class="modal-header">
					<h4>MegaRaid</h4>
				</div>
				<div class="modal-body">
					<p>Ceph works best with individual disk, but your controller does not support this.</p>
					<p>The controller is now being set up so that each disk is in it's own RAID 0.</p>
					<p>Although this is not ideal, it is better than than setting up multi-disk RAIDs</p>
					<p>The page will reload when it the process is complete. Please wait... </p>
					<progress-spinner></progress-spinner>
				</div>
				<div class="modal-footer"></div>
			</dialog>
			
			<floating-toolbar>
				<a ng:show="megaraidExists" ng:click="$parent.megaraidBuilding = true; $scope.MegaRAID_build();" class="btn btn-default btn-flat" translate>Setup Non-JBOD</a>
			</floating-toolbar>
		</uib-tab>

	</uib-tabset>
</div>