[Unit]
Description=Ajenti panel
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ajenti.pid
ExecStart=/usr/bin/python /usr/local/bin/ajenti-panel -d

[Install]
WantedBy=multi-user.target
